header{
    @include text(1rem,Avo Reg,1.8em,$white-cl,uppercase);
    text-decoration: none;
    .container-fluid{
        position: fixed;
        width: 100%;
        height: 70px;
        top: 0;
        z-index: 1;
        @include mid(true);
        justify-content: space-between;
        .logo{
            width: 175px;
            a{
                display: none;
            }
        }
        .menu{
            @include mid(true);
            letter-spacing: 0.04em;
            ul{
                @include mid(true);
                li{
                    padding:0px 25px;
                    a{
                        color: $white-cl;
                    }
                    &:first-child{
                        padding-left: 0px;
                    }
                    &:last-child{
                        padding-right: 0px;
                    }
                }
            }
        }
        .contact{
            @include mid(true);
            img{
                width:25px;
            }
            &__side{
                a{  
                    color: $white-cl;
                }
                >a:first-child{
                    padding: 20px 10px;
                }
            }
        }
    }
}