header{
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 70px;
    @include text(1rem,Avo Reg,1.8em,$white-cl,uppercase);
    font-weight: bold;
    text-decoration: none;
    @include transition($t);
    .container-fluid{
        position: relative;
        height: 100%;
        z-index: 1;
        @include mid(true);
        justify-content: space-between;
        .logo{
            width: 175px;
            cursor: pointer;
            position: relative;
            a{
                display: flex;
                position: absolute;
                width: 175px;
                opacity: 0;
                height: 100%;
            }
        }
        .menu{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            ul{
                @include mid(true);
                text-decoration: none;
                li{
                    padding: 25px;
                    a{
                        color: $grey-cl;
                        position: relative;
                        &::after{
                            @include linetext(100%,2px,$white-cl);
                            @include transform(scaleX(0));
                            @include transform-origin(right center);
                            @include transition($t);
                        }
                        &:hover{
                            color: $white-cl;
                            &::after{
                                @include transform(scaleX(1));
                                @include transform-origin(left center);
                                @include transition($t);
                            }
                        }
                    }
                }
                &>li:first-child{
                    padding-left: 0;
                }
                &>li:last-child{
                    padding-right: 0;
                }
            }
        }
        .contact{
            @include mid(true);
            cursor: pointer;
            img{
                width:25px;
            }
            &__side{
                display: inline-flex;
                a{  
                    color: $white-cl;
                    background-color: $red-cl;
                }
                >a:first-child{
                    padding: 5px 25px;
                    border-radius: 5px;
                    margin: 0px 10px 0 20px;
                }
                >a:last-child{
                    padding: 5px 10px;
                    border-radius: 5px;
                }
            }
            .btnmenu{
                width: 40px;
                height: 22px;
                cursor: pointer;
                position: relative;
                display: none;
                z-index: 10;
                span{
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background-color: $white-cl;
                    top: 50%;
                    @include transform(translateY(-50%));
                }
                &::before{
                    position: absolute;
                    top: 0;
                    content: "";
                    width: 100%;
                    height: 2px;
                    display: block;
                    background-color: $white-cl;
                    @include transform(rotate(0deg) translateY(0px));
                    @include transition($t);
                }
                &::after{
                    position: absolute;
                    bottom: 0;
                    content: "";
                    width: 100%;
                    height: 2px;
                    display: block;
                    background: $white-cl;
                    @include transform (rotate(0deg) translateY(0px));
                    @include transition($t);
                }
            }
            @include xs{
                .btnmenu{
                    display: block;
                    margin-left: 20px;
                    &.active{
                        &::before{
                            transform: rotate(45deg) translate(7px, 8px); 
                            @include transition(transform 0.3s)
                        }
                        span{
                            opacity: 0;
                            @include transition(transform 0.3s)
                  
                        }
                        &::after{
                            transform: rotate(-45deg) translate(5px, -8px);
                            @include transition(transform 0.3s)
                  
                        }
                    }
                }
            }
        }
    }
    @include sm{
        .container-fluid{
            height: auto;
            margin-top: 10px;
            .logo{
                position: unset ;
            }            
            .menu{
                display: none;
            }
            .contact{
                &__side{
                    display: none;
                }
            }
        }
    }
    @include xs{
        .container-fluid{
            .logo{
                width: 100px;
                position: absolute;
                top: 10px;
                position:unset;
            }
        }
    }
    &.bgheader{
        background-color: $red-cl;
        @include transition($t);
        height: 60px;
        @include sm{
            .container-fluid{
                margin-top: unset;
                height: 100%;
            }
        }
    }
    .nav{
        height: 100vh;
        width: 100vw;
        background-color: $red-cl;
        position: fixed;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        @include transition($t);
        ul{
            @include mid(true);
            height: 100%;
            flex-direction: column;
            li{
                padding: 40px 0;
                a{
                    text-decoration: none;            
                    @include text(2rem,Avo Reg,null,$white-cl,uppercase);
                    padding: 40px 0;
                }
            }
        }
        &.active{
            opacity: 1;
            visibility: visible;
            @include transition($t);
        }
    }
}