header{
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 70px;
    @include text(1rem,Avo Reg,1.8em,$white-cl,uppercase);
    text-decoration: none;
    .container-fluid{
        position: relative;
        height: 100%;
        z-index: 1;
        @include mid(true);
        justify-content: space-between;
        .logo{
            width: 175px;
            a{
                display: none;
            }
        }
        .menu{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            ul{
                @include mid(true);
                text-decoration: none;
                li{
                    padding: 25px;
                    a{
                        color: $white-cl;
                    }
                }
                &>li:first-child{
                    padding-left: 0;
                }
                &>li:last-child{
                    padding-right: 0;
                }
            }
        }
        .contact{
            @include mid(true);
            img{
                width:25px;
            }
            &__side{
                display: inline-flex;
                a{  
                    color: $white-cl;
                    background-color: $red-cl;
                }
                >a:first-child{
                    padding: 5px 25px;
                    border-radius: 5px;
                    margin: 0px 10px 0 20px;
                }
                >a:last-child{
                    padding: 5px 10px;
                    border-radius: 5px;
                }
            }
        }
    }
}