.slider{
    position: relative;
    &__item{
        &-content{
            height: 100vh;
            width: 100%;
            .text{
                position: absolute;
                top: 50%;
                z-index: 1;
                span{
                    @include text(18.4rem,DIN B,null,$white-cl,uppercase);
                    opacity: 0.3;
                    letter-spacing: -0.025em;   
                    position: absolute;
                    left: -50px;
                    width: max-content;     
                }
                p{
                    @include text(4rem,Avo B,null,$white-cl,null);
                    line-height: 1.2em;
                    width: 520px;
                    top: 45px;
                    position: absolute;
                    margin-left: 30px;
                }
            }
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
    &__bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
        &-left{
            display: inline-flex;
            flex-direction: column;
            @include keyframes(topdown) {
                0% {
                  @include transform(translateY(0px));
                  opacity: 0;
                  @include transition(0.3s);
                }
                100% {
                  @include transform(translateY(30px));
                  opacity: 1;
                  @include transition(0.3s);
                }
            }
            span{
                color: $white-cl;
                @include text(1.2rem,UTM Avo Reg,1.8rem,$white-cl,uppercase);
                writing-mode: tb-rl;
                padding-bottom: 10px;
                cursor: pointer;
            }
            img{
                width: 20px;
                @include animation(topdown 1s ease forwards infinite);
            }
        }
        
        &-right{
            @include text(6rem, DIN B, 3.3rem, $white-cl,uppercase);
            letter-spacing: 0.04em;
            p{
                display: flex;
                span{
                    &.total_page{
                        opacity: 0.4;
                    }
                }
            }
        }
       .container-fluid{
           display: flex;
           justify-content: space-between;
           align-items: flex-end;
           padding-bottom: 50px;
       }
    }
    @include sm{
        &__item{
            height: 40vh;
            &-content{
                height: 40vh;
            }
            .text{
                span{
                    font-size: 15.4rem;
                    left: -40px;
                }
                p{
                    top: 35px;
                    line-height: 1em;
                }
            }
        }
        &__bottom{
            .container-fluid{
                justify-content: flex-end;
                padding-bottom: 30px;
            }
            &-left{
                display: none;
            }
            &-right{
                font-size: 5rem;
            }
        }
    }
}
@include xs{
    .slider{
        &__item{
            height: 230px;
            width: 100%;
            &-content{
                position: relative;
                height: 100%;
                .text{
                    position: absolute;
                    height: 100%;
                    @include transform(translateY(-50%));
                    span{
                        font-size: 5.7rem;
                        line-height: 4.2rem;
                        left: -12px;
                        top: 50%;
                        @include transform(translateY(-50%));
                    }
                    p{
                        top: 25px;
                        font-size: 2rem;
                        width: 210px;
                        margin-left: 10px;
                        top: 50%;
                    }
                }
                .product{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    overflow: hidden;
                }
            }
        }
        &__bottom{
            position: absolute;
            display: block;
            &-left{
                display: none;
                // span{
                //     display: none;
                // }
                // img{
                //     position: absolute;
                //     bottom: 10px;
                //     width: 10px;
                // }
            }
            // &-right{
            //     display: none;
            // }
        }
    }
}
.missions{
    &__item{
        display: flex;
        justify-content: space-between;
        height: 450px;
        &-content{
            max-width: 450px;
            padding-left: 175px;
            align-self: center;
            z-index: 10;
            position: relative;
            h2{
                &::before{  
                    @include linetext(300px,3px,$black-cl);
                    left: 0;
                    top: -20px;
                }
            }
            h2,p{
                width: 470px;
            }
        }
        &-img{
            position: relative;
            .slider_button{
                position: absolute;
                left: -135px;
                bottom: 0;
                max-height: 60px;
                width: 130px;
                justify-content: center;
                background-color: $red-cl;
                display: inline-flex;
                padding: 20px;
                z-index: 10;
                a{
                    img{
                        width: 12px;
                        height: 100%;
                    }
                    &:first-child{
                        padding-right: 25px;
                    }
                    &:last-child{
                        padding-left:25px;
                        img{
                            @include transform(rotate(180deg));
                        }
                    }
                }
                span{
                    content: "";
                    color: $white-cl;
                    border-left: 2px solid $white-cl;
                }
            }
            .slider_img{
                height: 450px;
                width: 970px;
                margin-left: -70px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}
@include sm{
    .missions{
        &__item{
            flex-direction: column;
            height: auto;
            &-content{
                max-width: 100%;
                align-self: unset;
                padding-right: calc(var(--gap) / 2);
                padding-left: calc(var(--gap) / 2);
                padding-bottom: 20px;
                h2{
                    &::before{
                        width: 130px;
                    }
                }
            }
            &-img{
                padding-right: calc(var(--gap) / 2);
                padding-left: calc(var(--gap) / 2);
                .slider_button{
                    left: unset;
                }
                .slider_img{
                    width: auto;
                    margin-left: unset;
                }
            }
        }
    }
}
@include xs{
    .missions{
        margin: auto 10px;
        &__item{
            height: auto;
            flex-direction: column;
            &-content{
                max-width: unset;
                padding-left: unset;
                h2,p{
                    width: auto;
                    padding-bottom: 15px;
                }
                h2{
                    &::before{
                        width: 50px;
                        left: -10px;
                    }
                }
            }
            &-img{
                .slider_button{
                    // max-height: 40px;
                    width: 100px;
                    left: unset;
                    align-items: center;
                    padding: 10px 0px;
                    a{
                        display: inline-flex;
                        img{
                            width: 10px;
                        }
                        &:first-child{
                            padding-right: 15px;
                        }
                        &:last-child{
                            padding-left: 15px;
                        }
                    }
                    span{
                        height: 25px;
                    }
                }
                .slider_img{
                    height: 250px;
                    width: 100%;
                    margin: 0 auto;
                    img{
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}
.hotitems{
    &.pdsection{
        padding-top: unset;
    }
    .hotitem{
        &__content{
            text-align: center;
        }
        &__wrap{
            padding-top: 80px;
            @include mid(true);
            justify-content: space-between;
            &::after{
                content: 'flickity';
                display: none;
            }
            @include minW(767px){
                &::after{
                    content: '';
                }
            }
            &-products{
                position: relative;
                .button{
                    position: absolute;
                    top: 140px;
                    left: 20px;
                }
                &:nth-child(2){
                    .button{
                        top: 175px;
                        left: 50px;
                    }
                }
                &:last-child{
                    .button{
                        left: 13px;
                    }
                }
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
        @include xs{
            &__wrap{
                display: block;
                align-items: unset;
                height: auto !important;
                &-products{
                    height: auto;
                    width: 230px;
                }
            }
        }
        &__bottom{
            &.button{
                padding:15px 20px;
                border-radius: 25px;
                position: absolute;
                margin-top: 70px;
                left: 50%;
                @include transform(translateX(-50%));
            }
        }
    }
    @include xs{
        .hotitem{
            flex-direction: column;
            &__wrap{
                padding-top: 45px;
                &-products{
                    height: 350px;
                    margin: 0px 13px;
                    img{
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                    .button{
                        padding: 10px 15px;
                        height: 20px;
                        display: inline-flex;
                        align-items: center;
                        top: 35%;
                        transform: translateY(-35%);
                        left: 10px ;
                        a{
                            font-size: 1rem;
                        }
                        // &:first-child{
                        //     // top: 35% !important;
                        //     // transform: translateY(-35%);
                        //     // left: 10px !important;
                        // }
                    }
                    &:nth-child(2){
                        .button{
                            top: 31%;
                            transform: translateY(-31%);
                            left: 15px ;
                        }
                    }
                    &:last-child{
                        .button{
                            left: 5px;
                        }
                    }
                }
            }
            &__bottom{
                &.button{
                    text-align: center;
                    position: inherit;
                    margin-top: 25px;
                    @include transform(unset);
                }
            }
        }
    }
}
@include sm{
    .hotitems{
        &.pdsection{
            padding: unset;
        }
        .hotitem{
            &__wrap{
                &-products{
                    &:nth-child(2){
                        margin: 0px 30px 0px 10px;
                    }
                }
            }
            &__bottom{
                &.button{
                    position: unset;
                    left: unset;
                    @include transform(translateX(0));
                    border-radius: 20px;
                    margin-top: 40px;
                    text-align: center;
                }
            }
        }
    }
}
@include xs{
    .hotitems{
        &.pdsection{
            padding: unset;
        }
    }
}
.chooseitem{
    background: url(../img/origin_banner_products.jpg);
    @include bg;
    height: 650px;
    margin-top: 120px;
    position: relative;
    &__content{
        display: inline-block;
        padding-bottom: 50px;
        h2{
            max-width: 240px;
            line-height: 5.8rem;
            padding-bottom: unset;
        }
    }
    &__button{
        position: absolute;
    }
}
@include sm{
    .chooseitem{
        background: url(../img/banner_products_mobile.jpg);
        @include bg ;
        height: 500px;
        &.pdsection{
            padding: unset;
            margin-top: 120px;
        }
        &__content{
            display: block;
        }
        &__button{
            position:unset;
            &.button{
                padding: 15px 30px;
                border-radius: 7px;
                display: inline-flex;
                align-items: center;
            }
        }
        .container{
            position: absolute;
            top: 50%;
            @include transform(translateY(-50%));
        }
    }
}
@include xs{
    .chooseitem{
        background: url(../img/banner_products_mobile.jpg);
        @include bg ;
        height: 300px;
        position: relative;
        padding: unset !important;
        margin: 60px 0;
        .container{
            position: absolute;
            left: 0;
            top: 50%;
            @include transform(translateY(-50%));
            .chooseitem__content{
                padding-bottom: 10px;
                h2{
                    line-height: 3rem;
                    width: 145px;
                }
            }
        }
    }
}
.news{
    position: relative;
    &__content{
        text-align: center;
        padding-bottom: 80px;
    }
    &__item{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 515px;
        column-gap: 30px;
        cursor: pointer;
        position: relative;
        &-box{
            border: 1px solid #d8d8d8;
            display: flex;
            flex-direction: column;
            .news__item-img{
                position: relative;
                padding-bottom: 92%;
                overflow: hidden;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    @include midimg;
                    @include transform(translate(-50%,-50%) scale(1));
                }
            }
            .news__item-content{
                position: relative;
                flex: 1;
                .title{
                    padding-top: 10px;
                    text-align: center;
                    span{
                        @include text(1.7rem,DIN B,1.8rem,$black-cl,uppercase);
                        letter-spacing: 0.04em;
                        font-weight: bold;
                    }
                    h3{
                        @include text(3rem,DIN B,null, $black-cl,uppercase);
                        letter-spacing: 0.04em;
                    }
                    p{
                        @include text(1rem,UTM Avo Reg,2.2rem,$black-cl,null);
                        font-weight: bold;
                    }
                }
                a{
                    position: absolute;
                    bottom: 35px;
                    left: 50%;
                    @include transform(translateX(-50%));
                    @include text(1rem,UTM Avo Reg,1.8rem,$black-cl,null);
                    font-weight: bold;
                    text-decoration: underline;
                    color: $black-cl;
                }
            }
            &:nth-child(3){
                .title{
                    p{
                        max-width: 340px;
                        margin: 0 auto;
                    }
                }
            }
        }
        &-button{
            position: absolute;
            left: 50%;
            bottom: -60px;
            @include transform(translateX(-50%));
        }
    }
    @include xs{
        &__content{
            padding-bottom: 50px;
        }
        &__item{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: unset;
            &-content{
                .title{
                    p{
                        max-width: 270px;
                        margin: 0 auto;
                    }
                    h3{
                        max-width: 240px !important;
                    }
                }
            }
            &-box{
                .news__item-content{
                    text-align: center;
                    .title{
                        padding-bottom: 20px;
                        h3{
                            max-width: 220px;
                            margin: 0 auto;
                        }
                    }
                    a{
                        position: unset;
                    }
                }
            }
            &-button{
                width: 100%;
                text-align: center;
                padding: 10px 0px !important;
                border-radius: 15px !important;
            }
        }
    }
}
@include sm{
    .news{
        &__content{
            padding-bottom: unset;
            h2{
                padding-bottom: unset;
            }
            p{
                padding: 25px 0px;
            }
        }
        &__item{
            grid-template-rows: 450px;
            &-box{
                .news__item-content{
                    .title{
                        span{
                            letter-spacing: normal;
                        }
                    }
                }
            }
        }
    }
}
@include xs{
    .news{
        &.pdsection{
            padding: unset;
        }
        margin: 60px 0;
        &__item{
            grid-template-rows: unset;
            &-button{
                margin-top: 40px;
                position: initial !important;
                left: unset;
                bottom: unset;
                transform: initial;
            }
            .news__item-box{
                &:nth-child(2){
                    margin: 30px 0px;
                }
            }
        }
    }
}
.network{
    background: url(../img/background_footer_home.jpg);
    @include bg;
    height: 650px;
    &__content{
        padding-top: 50px;
        text-align: center;
        padding-bottom: 30px;
        h2{
            line-height: unset;
        }
    }
    &__background{
        position: absolute;
        left: 50%;
        width: max-content;
        transform: translateX(-50%);
        img{
            height: 1010px;
            object-fit: cover;
            cursor: pointer;
        }
    }
    &__button{
        position: absolute;
        bottom: 85px;
        left: 50%;
        height: 60px;
        width: 355px;
        background-color: red;
        border-radius: 30px;
        @include mid(true);
        display: inline-flex;
        @include transform(translateX(-50%));
        a{
            @include text(2.5rem,DIN EngA,null,$white-cl,uppercase);
            letter-spacing:0.04em ;
            text-decoration: none;
        }
    }
}
@include sm{
    .network{
        display: none;
    }
}
