.slider{
    position: relative;
    &__item{
        height: 100vh;
        width: 100%;
        &-content{
            .text{
                position: absolute;
                top: 50%;
                z-index: 1;
                span{
                    @include text(18.4rem,DIN B,null,$white-cl,uppercase);
                    opacity: 0.3;
                    letter-spacing: -0.025em;   
                    position: absolute;
                    left: -50px;
                    width: max-content;     
                }
                p{
                    @include text(4rem,Avo B,null,$white-cl,null);
                    line-height: 1.2em;
                    width: 520px;
                    top: 45px;
                    position: absolute;
                    margin-left: 30px;
                }
            }
            // position: absolute;
            // width: 100%;
            // height: 100%;
            img{
                height: 100vh;
                width: 100vw;
                object-fit: cover;
            }
        }
    }
    &__bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
        &-left{
            display: inline-flex;
            flex-direction: column;
            @include keyframes(topdown) {
                0% {
                  @include transform(translateY(0px));
                  opacity: 0;
                  @include transition(0.3s);
                }
                100% {
                  @include transform(translateY(30px));
                  opacity: 1;
                  @include transition(0.3s);
                }
            }
            span{
                color: $white-cl;
                @include text(1.2rem,UTM Avo Reg,1.8rem,$white-cl,uppercase);
                writing-mode: tb-rl;
                padding-bottom: 10px;
                cursor: pointer;
            }
            img{
                width: 20px;
                @include animation(topdown 1s ease forwards infinite);
            }
        }
        
        &-right{
            @include text(6rem, DIN B, 3.3rem, $white-cl,uppercase);
            letter-spacing: 0.04em;
            p{
                display: flex;
                span{
                    &.total_page{
                        opacity: 0.4;
                    }
                }
            }
        }
       .container-fluid{
           display: flex;
           justify-content: space-between;
           align-items: flex-end;
           padding-bottom: 50px;
       }
    }
    @include sm{
        &__item{
            .text{
                span{
                    font-size: 15.4rem;
                    left: -40px;
                }
                p{
                    top: 35px;
                    line-height: 1em;
                }
            }
            .product{
                img{
                    object-fit: cover;
                }
            }
        }
        &__bottom{
            display: none;
        }
    }
}
@include xs{
    .slider{
        height: 183px;
        width: 100%;
        &__item{
            height: 183px;
            &-content{
                position: relative;
                height: 100%;
                .text{
                    position: absolute;
                    height: 100%;
                    @include transform(translateY(-50%));
                    span{
                        font-size: 5.7rem;
                        line-height: 4.2rem;
                        left: -12px;
                        top: 50%;
                        @include transform(translateY(-50%));
                    }
                    p{
                        top: 25px;
                        font-size: 2rem;
                        width: 210px;
                        margin-left: 10px;
                        top: 50%;
                    }
                }
                .product{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    overflow: hidden;
                }
            }
        }
        &__bottom{
            position: absolute;
            display: block;
            &-left{
                span{
                    display: none;
                }
                img{
                    position: absolute;
                    bottom: 10px;
                    width: 10px;
                }
            }
            &-right{
                display: none;
            }
        }
    }
}
.missions{
    position: relative;
    height: 455px;
    margin: 120px 0;
    .mission{
        display: inline-flex;
        align-items: center;
        justify-content: flex-start;
        height: 100%;
        &__content{
            z-index: 1;
            h2{
                width: max-content;
                position: relative;
                line-height: unset;
                padding-bottom: unset;
                &::before{
                    @include linetext(220px,3px,$black-cl);
                    left: -40%;
                    top: -20px;
                }
            }
            p{
                padding-top: 30px;
                max-width: 450px;
            }
        }
        &__img{
            position: absolute;
            top: 0;
            right: 0;
            display: inline-flex;
            img{
                max-width: max-content;
                height: 100%;
            }
            &-button{
                position: absolute;
                left: -65px;
                bottom: 0;
                background-color: $red-cl;
                height: 65px;
                a{
                    display: inline-flex;
                    align-items: center;
                    justify-content: space-around;
                    height: 100%;
                    width: 60px;
                    &:last-child{
                        transform: rotate(180deg);
                    }
                    img{
                        height: 30px;
                    }
                }
                span{
                    display: inline-block;
                    width: 0;
                    height: 2em;
                    border-right: 2px solid $white-cl;
                }
            }
        }
    }
    @include xs{
        .container{
            height: auto !important;
        }
        .mission{
            @include mid(true);
            flex-direction: column;
            height: auto;
            &__content{
                margin-left: unset;
                h2{
                    &::before{
                        left: -175px;
                        top: -15px;
                    }
                }
                p{
                    margin-right: unset;
                    padding-bottom: 10px;
                }
            }
            &__img{
                display: inline-flex;
                position: relative;
                img{
                    height: auto;
                    max-width: 100%;
                }
                &-button{
                    left: 0;
                    height: 40px;
                    position: absolute;
                    a{
                        width: 35px;
                    }
                    span{
                        height: 30px;
                        border-left: unset;
                        border-right: 2px solid #fff;
                    }
                }
            }
        }
    }
}
@include xs{
    .missions{
        height: auto;
        margin: 60px 0;
    }
}
.hotitems{
    &.pdsection{
        padding-top: unset;
    }
    .hotitem{
        &__content{
            text-align: center;
        }
        &__wrap{
            padding-top: 80px;
            @include mid(true);
            justify-content: space-between;
            &-products{
                position: relative;
                .button{
                    position: absolute;
                    top: 140px;
                    left: 20px;
                }
                &:nth-child(2){
                    .button{
                        top: 175px;
                        left: 50px;
                    }
                }
                &:last-child{
                    .button{
                        left: 13px;
                    }
                }
            }
        }
        &__bottom{
            &.button{
                position: absolute;
                margin-top: 70px;
                left: 50%;
                @include transform(translateX(-50%));
            }
        }
    }
    @include xs{
        .hotitem{
            &__wrap{
                padding-top: 45px;
                height: 350px;
                &-products{
                    height: 100%;
                    overflow: hidden;
                    img{
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        overflow: hidden;
                    }
                    .button{
                        padding: 0 10px;
                        height: 20px;
                        display: inline-flex;
                        align-items: center;
                        left: -20px;
                        top: 100px;
                        a{
                            font-size: 1rem;
                        }
                    }
                    &:nth-child(2){
                        .button{
                            top: 90px;
                            left: -20px;
                        }
                    }
                }
            }
            &__bottom{
                &.button{
                    text-align: center;
                    position: inherit;
                    margin-top: 25px;
                    @include transform(unset)
                }
            }
        }
    }
}
@include xs{
    .hotitems{
        &.pdsection{
            padding: unset;
        }
    }
}
.chooseitem{
    background: url(../img/origin_banner_products.jpg);
    @include bg;
    height: 650px;
    &__content{
        display: inline-block;
        padding-bottom: 50px;
        h2{
            max-width: 240px;
            line-height: 5.8rem;
            padding-bottom: unset;
        }
    }
    &__button{
        position: absolute;
    }
}
@include xs{
    .chooseitem{
        background: url(../img/banner_products_mobile.jpg);
        @include bg ;
        height: 150px;
        position: relative;
        padding: unset !important;
        margin: 60px 0;
        .container{
            position: absolute;
            height: 100%;
            top: 10px;
            left: 0;
            .chooseitem__content{
                padding-bottom: 10px;
                h2{
                    line-height: 3rem;
                    width: 145px;
                }
            }
        }
    }
}

.news{
    position: relative;
    &__content{
        text-align: center;
        padding-bottom: 80px;
    }
    &__item{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 515px;
        column-gap: 30px;
        cursor: pointer;
        position: relative;
        &-box{
            border: 1px solid #d8d8d8;
            display: flex;
            flex-direction: column;
            .news__item-img{
                position: relative;
                padding-bottom: 92%;
                overflow: hidden;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    @include midimg;
                    @include transform(translate(-50%,-50%) scale(1));
                }
            }
            .news__item-content{
                position: relative;
                flex: 1;
                .title{
                    padding-top: 10px;
                    text-align: center;
                    span{
                        @include text(1.7rem,DIN B,1.8rem,$black-cl,uppercase);
                        letter-spacing: 0.04em;
                        font-weight: bold;
                    }
                    h3{
                        @include text(3rem,DIN B,null, $black-cl,uppercase);
                        letter-spacing: 0.04em;
                    }
                    p{
                        @include text(1rem,UTM Avo Reg,2.2rem,$black-cl,null);
                        font-weight: bold;
                    }
                }
                a{
                    position: absolute;
                    bottom: 35px;
                    left: 50%;
                    @include transform(translateX(-50%));
                    @include text(1rem,UTM Avo Reg,1.8rem,$black-cl,null);
                    font-weight: bold;
                    text-decoration: underline;
                    color: $black-cl;
                }
            }
            &:nth-child(3){
                .title{
                    p{
                        max-width: 340px;
                        margin: 0 auto;
                    }
                }
            }
        }
        &-button{
            position: absolute;
            left: 50%;
            bottom: -60px;
            @include transform(translateX(-50%));
        }
    }
    @include xs{
        &__content{
            padding-bottom: 50px;
        }
        &__item{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: unset;
            &-content{
                .title{
                    p{
                        max-width: 270px;
                        margin: 0 auto;
                    }
                    h3{
                        max-width: 240px !important;
                    }
                }
            }
            &-box{
                .news__item-content{
                    text-align: center;
                    .title{
                        padding-bottom: 20px;
                        h3{
                            max-width: 220px;
                            margin: 0 auto;
                        }
                    }
                    a{
                        position: unset;
                    }
                }
            }
            &-button{
                width: 100%;
                text-align: center;
            }
        }
    }
}
@include xs{
    .news{
        &.pdsection{
            padding: unset;
        }
        margin: 60px 0;
        &__item{
            &-button{
                margin-top: 40px;
                position: initial !important;
                left: unset;
                bottom: unset;
                transform: initial;
            }
        }
    }
}
.network{
    height: 650px;
    position: relative;
    &__background{
        position: absolute;
        top: 0;
        z-index: -1;
        width: 100%;
        img{
            width: 100%;
        }
    }
    &__content{
        padding-top: 50px;
        text-align: center;
        h2{
            line-height: unset;
        }
    }
}
@include xs{
    .network{
        display: none;
    }
}