.herobanner{
    background: url(/img/banner_products.jpg);
    @include bg;
    height: 525px;
    object-fit: cover;
    overflow: hidden;
    @include xs{
        height: 180px;
        max-width: 100%;
        object-fit: cover;
        overflow: hidden;
    }
}
.allproducts{
    &__title{
        @include mid(true);
        display:flex;
        flex-direction: column;
        p{
            max-width: 750px;
            margin: 0 auto;
            text-align: center;
        }
    }
}
.selectitem{
    position: relative;
    &::after{
    @include linetext(43%,2px,$black-cl);
        right: 0;
        top: 7%;
    }
   &__title{
    padding-bottom: 120px;
    display:inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    a{
        @include text(4.2rem,DIN EngA, null, $black-cl, uppercase);
        padding: 0 20px;
    }
    span{
        content: ''; 
        width: 0;
        background-color: $black-cl;
        height: 50px;
        width: 2px;
    }
   }
   @include xs{
       &__title{
           margin: 0 auto;
           width: 100%;
           justify-content: space-between;
           a{
               font-size: 2.2rem;
               font-weight: bold;
               text-align: center;
               &:first-child{
                   padding-left: 0;
               }
               &:last-child{
                   padding-right: 0;
               }
           }
           span{
               height: 25px;
           }
       }
       &::after{
           display: none;
       }
   }
   &__item{
       margin: 0px -75px;
       display: flex;
       justify-content: space-between;
       &-img{
           max-width: 50%;
           height: 100%;
           object-fit: cover;
       }
       &-descr{
        padding-top: 50px;
        padding-left: 20px;
        flex: 1;
        position: relative;
        h2,
        p{
            @include transform(skewX(-10deg));
        }
        h2{
            max-width: 330px;
            line-height: 5rem;
        }
        p{
            max-width: 450px;
        }
        &::after{
            @include linetext(850px,510px,$grey-cl);
            top: 12px;
            left: -125px;
            z-index: -10;
            @include transform(skewX(-10deg));
        }
        .listitem{
            position: absolute;
            display: flex;
            justify-content: center;
            bottom: 80px;
            &__wrap{
                position: relative;
                cursor: pointer;
                width: calc(100% / 3);
                .price{
                    position: relative;
                    &::before{
                        @include linetext(2px,81%,$black-cl);
                        left: -8px;
                        bottom: 0;
                    }
                }
                &.--like50{
                   .price{
                    position: absolute;
                    left: 13px;
                   }
                }
                &.--candyhl50{
                    margin: 0px 40px;
                    .price{
                        position: absolute;
                        left: 5px;
                    }
                }
                &.--peopleone125{
                    .price{
                        margin-left: 6px;
                    }
                }
                .button-wrap{
                    position: absolute;
                    @include mid(true);
                    flex-direction: column;
                    bottom: 0;
                    width: 100%;
                    // display: none;
                    opacity: 0;
                    visibility: hidden;
                    @include transition($t);
                    a{
                        width: 100%;
                        text-align: center;
                        text-decoration: none;
                        @include text(2rem,DIN EngA,1.2rem,$white-cl,uppercase);            
                        padding: 15px 30px;
                        &:last-child{
                            margin-top: 20px;
                        }
                    }
                }
                &:hover{
                    .button-wrap{
                        opacity: 1;
                        visibility: visible;
                        @include transition($t);
                    }
                }
            }
            &__btnnext{
               @include size(50px);
               position: relative;
               cursor: pointer;
               display: inline-flex;
               align-self: center;
               &::after{
                   @include linetext(60px,100%,$red-cl);
                   top: 0;
                   left: 0;
                   z-index: -5;
                   @include transform(skewX(-10deg));
               }
            }
        }
       }
       &.--kpipe125{
           margin-top: 60px;
           .selectitem__item-descr{
               padding-left: 60px;
               h2{
                   max-width: 380px;
               }
               &::after{
                   top: 0;
                   left: 0;
               }
           }
           flex-direction: row-reverse;
           .listitem{
               justify-content: flex-start;
               bottom: 110px;
            &__wrap{
                .price{
                    margin-left: 7px;
                }
                &.--kpipe50{
                    margin-right: 40px;
                }
            }
            &__btnnext{
                display: none;
            }
           }
       }
       @include xs{
           &.--kpipe125{
               flex-direction: column;
               .selectitem__item-descr{
                   padding-left: unset;
                   &::after{
                       top: -57px;
                       left: -15px;
                       height: calc(100% + 57px);
                   }
               }
               .listitem{
                    justify-content: space-evenly;
                    padding:40px 0 20px ;                   
               }
           }
       }
       &.--ak550{
        margin-top: 60px;
           .selectitem__item{
               &-descr{
                   h2{
                       max-width: 410px;
                   }
                   .listitem{
                       display: inline-flex;
                       justify-content: flex-start;
                       flex: 1;
                       bottom: 20%;
                       &__wrap{
                           width: 50%;
                       }
                   }
                   &::after{
                       top: 2px;
                   }
               }
           }
       }
       @include xs{
           &.--ak550{
               .selectitem__item-descr{
                    &::after{
                        top: -68px;
                        height: calc(100% + 68px);
                    }
               }
           }
       }
   }
   @include xs{
       &__item{
           flex-direction: column;
           margin: unset;
           &-img{
            max-width: unset;
            height: auto;
            object-fit: none;
           }
           &-descr{
               padding: unset;
               flex: none;
               h2{
                   line-height: normal;
               }
               .listitem{
                   position: unset;
                   bottom: unset;
                   padding: 40px 0;
                   &__wrap{
                       .price{
                           &::before{
                               bottom: 2px;
                           }
                       }
                   }
                   &__btnnext{
                       display: none;
                   }
               }
               &::after{
                    width: calc(100% + 30px);
                    height: calc(100% + 40px);
                    top: -40px;
                    left: -15px;
                    @include transform(unset);
                }
           }
       }
   }
}
.footer{
    .footer-icon{
        width: 25%;
        a{
            width: calc(100% / 4);
            img{
                background-color: $black-cl;
            }
            &:last-child{
                padding-left: unset;
                img{
                    max-width: 100%;
                    @include size(unset,40px);
                }
            }
        }
    }
    @include xs{
        .footer-icon{
            width: 50%;
        }
    }
}